body {
  font-family: Verdana, Geneva, sans-serif;
  background: #f9f9f9;
}
a {
  text-decoration: none;
}
.footer {
  height: 200px;
  display: block;
}

/* WIDTH SETTINGS */

.nav-container,
.container,
.image-grid,
.form-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

/* NAV BAR */

.nav-bar {
  width: 100%;
  /*background: #222;*/
  background-image: url("iceland.jpg");
}
.nav-container {
  overflow: hidden;
}
.nav-logo {
  float: left;
  display: block;
  padding: 20px 10px;
  color: #f9f9f9;
  font-weight: bold;
}
.nav-list {
  float: right;
}
.nav-list li {
  float: left;
}
.nav-list li a {
  display: block;
  padding: 20px 10px;
  color: #f9f9f9;
}
.nav-menu {
  color: #f9f9f9;
  display: none;
}

/* CONTAINER */

.container {
  padding: 50px 10px 10px 10px;
}
.container h1, .container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 600;
}
.container h2 {
  margin-top: 35px;
}
.container p {
  line-height: 1.35em;
  .columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  -o-columns: 2;
  -ms-columns 2;
}

/* IMAGE GRID */

.image-grid,
.form-container {
  overflow: hidden;
  padding: 5px;
}

.image-grid-square {
  width: 20%;
  float: left;
  padding: 5px;
  overflow: hidden;
}
.image-grid-square img {
  width: 100%;
  float: left;
}

/* FORM CONTAINER */

.form-section {
  width: 25%;
  float: left;
  padding: 5px;
}
.message-section,
.submit-section {
  width: 100%;
}
.form-section label {
  display: block;
  margin-bottom: 2px;
}
.form-section input,
.form-section textarea {
  width: 100%;
  padding: 5px 10px;
  font-size: 1em;
  line-height: 1.3em;
}
.form-section textarea {
  resize: none;
  height: 150px;
  padding: 10px;
}
.form-section input.submit-button {
  float: none;
  display: block;
  border: none;
  outline: none;
  background: #111;
  color: #f9f9f9;
  padding: 15px;
  cursor: pointer;
  max-width: 500px;
  margin: 0 auto;
}
